#container{
   width: 900px;
   height: 900px;
   background-color: rgb(251, 251, 142);
   margin: 0 auto;
   display: grid;

}
.grid-item{
    width: auto;
    height: auto;
    background-color:black;
}


